In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import wandb
import json

api = wandb.Api()

In [2]:
sweep = api.sweep("cezary/fsner/uir8bnu0")

In [3]:
run = sweep.runs[49]
run.name

'generous-sweep-11'

In [4]:
artifacts = run.logged_artifacts()
for i, artifact in enumerate(artifacts):
    if "classification_report" in artifact.name:
        print(i, artifact.name)
        break

In [5]:
table_dir = table.download()

NameError: name 'table' is not defined

In [6]:
table

NameError: name 'table' is not defined

In [7]:
table_name = "classification_report"
table_path = f"{table_dir}/{table_name}.table.json"
# analysis/artifacts/run-g8amwb4j-classification_report:v0/classification_report.table.json
table_path

NameError: name 'table_dir' is not defined

In [54]:
with open(table_path) as file:
    json_dict = json.load(file)
df = pd.DataFrame(json_dict["data"], columns=json_dict["columns"])
df["run_name"] = run.name
df["run_corpus"] = run.config["dataset"]

In [55]:
df

,metric,PER,LOC,ORG,MISC,micro avg,macro avg,weighted avg,run_name,run_corpus
0,precision,0.741104,0.558290,0.511818,0.255370,0.514454,0.516646,0.559312,comic-sweep-40,CONLL03
1,recall,0.747062,0.516787,0.338952,0.609687,0.541962,0.553122,0.541962,comic-sweep-40,CONLL03
2,f1-score,0.744071,0.536737,0.407823,0.359966,0.527850,0.512150,0.536213,comic-sweep-40,CONLL03
3,support,1617.000000,1668.000000,1661.000000,702.000000,5648.000000,5648.000000,5648.000000,comic-sweep-40,CONLL03

In [72]:
df_empty = df.drop(df.index, inplace=True)
df.columns.to_list()

['metric',
 'PER',
 'LOC',
 'ORG',
 'MISC',
 'micro avg',
 'macro avg',
 'weighted avg',
 'run_name',
 'run_corpus']